@import url("https://fonts.oogleapis.com/css?family=open+sans");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "open sans", sans-serif;
}

/* navigation */
.nav {
  font-size: 2.5rem;
  color: rgba(0, 0, 0, 0.5);
}

.nav span {
  color: red;
  transform: translateY(-1px);
  font-weight: 700;
}

.nav p {
  color: #fff;
}

.nav-link {
  color: #fff !important;
}

.nav-link:hover {
  color: rgb(114, 16, 16) !important;
  background-color: red;
  transform: translateY(10px);
  transition: transform 0.2s ease-in;
  border-radius: 20px;
  padding: 10px;
  font-size: 1.2rem !important;
}
.nav:hover {
  text-decoration: none;
}

.navigation {
  background-color: rgba(0, 0, 0, 0.835) !important;
}

.navigation active {
  background-color: #fff;
}
/* end of navigation */
